/* Styles for the container and accordion */
.container {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.accordion {
  width: 100%;
}


/* Style for the next button */
.button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.display-none{
  display: none; 
}

accordion-section[is-active=true] .accordion-section {
  border: 2px solid red;
  background-color: red;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
  box-shadow: 0 0 5px blue;
  }
  50% {
  box-shadow: 0 0 15px blue;
  }
  100% {
  box-shadow: 0 0 5px blue;
  }
}

