/* Styles for the container and accordion */
.container {
  max-width: 600px;
  margin: 0px auto;
  text-align: center;
}

.accordion {
  width: 100%;
}


/* Style for the next button */
.button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


